@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

html, body, #__next { height: 100%; }

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}